.btn {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    text-transform: uppercase;

    width: 150px;
    height: 42px;
    padding: 0 24px;
    border-radius: 4px;
    border: 2px solid var(--Text-dark);
    box-shadow: 0 6px 0 0 var(--Text-dark);
    cursor: pointer;
}

.primary {
    background: var(--Green);
    color: var(--Text-light);
}

.primary:hover {
    background: #4CBABD;
}

.secondary {
    background: #E5E5E5;
    color: var(--Text-dark);
}

.secondary:hover {
    background: var(--Text-light);
}
