
.services-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #D8D6AD;
}

header {
    position: sticky;
    top: 0;
    background-color: #D8D6AD;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 82px;
    padding: 0 32px;
}

.services-intro, .services-section, .contact-section {
    max-width: 500px;
    align-items: center;
}

.contact-image {
    width: 200px;
}

.services-intro {
    margin-top: 32px;
}

.services-section {
    max-width: 900px;
}

.carousel-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dots {
    display: flex;
    gap: 4px;
}

.selected-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--Text-dark);
}

.default-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #7B7A6B;
}