
.accessibility-page{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #D8D6AD;
}

.accessibility-title {
    margin: 24px 0;
}

.accessibility-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    padding: 0 16px 32px;
    background-color: #D8D6AD;
}

.accessibility-title, .accessibility-section {
    width: 100%;
    max-width: 750px;
    text-align: left;
}

.accessibility-list {
    padding-left: 16px;
}

