
.homepage {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 32px;
    position: relative;
    z-index: 2;
    background-color: #D8D6AD;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 42px;
    margin: 32px;
}

.greeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    cursor: default;
}

.greeting {
    color: transparent;
    display: inline-block;
    -webkit-text-stroke: 2px var(--Text-dark);
}

.disciplines {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    gap: 8px;
    padding: 12px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}
