
.project-card {
    display: flex;
    z-index: 0;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    border-radius: 8px;
    background: white;
    box-shadow: 0 6px 0 0 var(--Text-dark);
    min-width: 350px;
    overflow: hidden;
    cursor: pointer;
}

.card-content {
    display: flex;
}

.card-content img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 32px 24px 24px 24px;
    gap: 12px;
    background: linear-gradient(to bottom, rgba(70, 70, 70, 0.4) 0%, rgba(255, 255, 255, 0) 40%);
}

.card-footer .subheading {
    flex: 1 1 auto;
    min-width: 0;
    color: white;
    font-size: 20px;
}

.chip-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;

}

@media screen and (max-width: 768px) {
    .card-footer {
        padding: 16px;
    }
    
}