
.header-nav {
    display: flex;
    justify-content: center;;;
    padding: 46px;
}

.header-nav ul {
    display: flex;
    gap: 16px;
}

.navbar {
    list-style: none;
}

.navbar:hover {
    color: var(--Green);
    cursor: pointer;
}