
.projects-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 82px;
    align-items: center;
    background-color: #D8D6AD;
}

.projects-header {
    background-color: #D8D6AD;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 900px;
    gap: 48px;
    padding: 0 32px;
}

.project-1 {
    
}

.project-2 {
    
}

.project-3 {
    
}

@media screen and (max-width: 768px) {
    .projects-page {
        display: flex;
        flex-direction: column;
    }

    .projects-wrapper {
        gap: 24px;
    }
}