
.projects-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    align-items: center;
    background-color: #D8D6AD;
}

.projects-header {
    background-color: #D8D6AD;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 900px;
    gap: 82px;
    padding: 0 32px;
}

.projects-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .projects-page {
        display: flex;
        flex-direction: column;
    }

}